* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.about {
    height: 300px;
    padding-top: 30px;
    padding-right: 200px;
    padding-left: 50px;
}

.aboutp {
    position: relative;
    width: auto;
    height: 450px;
    background-color: #efefef;
    padding-left:30px;
    padding-right:240px;
    padding-top:20px;
    padding-bottom:20px;
    letter-spacing: 1px;
    line-height: 38px;
}

.abouti {
    position: absolute;
    top: 75px;
    left: 750px;
    width: 500px;
    height: 300px;
}